# Виртуальное окружение и зависимости
venv/
__pycache__/
*.pyc

# Секреты и конфиги
.env
.env.*
!.env.example
*.pem
*.key

# Кэш и статика
media/
staticfiles/

# IDE и системные файлы
.idea/
.vscode/
.DS_Store
*.log
*.sqlite3

# PostgreSQL dumps и бэкапы
*.sql
dump/
backups/

tests/
