Django==5.2.1
gunicorn==21.2.0
whitenoise==6.6.0
psycopg2-binary==2.9.11
pillow==12.0.0
django-cleanup==9.0.0
django-modeltranslation==0.19.16
django-recaptcha==4.1.0
tzdata==2025.2
sqlparse==0.5.3
# python-dotenv==1.1.1