{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href='{% static "deps/css/my_footer_css.css" %}'>
{% endblock %}

{% block content %}
<div class="m-5 p-4 bg-white custom-shadow rounded">
    <h2><strong>{{ content }}</strong></h2>
    <p><strong>{% trans "Адрес:" %}</strong> {{ address }}</p>
    <p><strong>{% trans "Телефон:" %}</strong> {{ phone }}</p>
    <p><strong>{% trans "Email:" %}</strong> {{ email }}</p>
    <h3>{% trans "Обратная связь" %}</h3>
    <form method="post" action="{% url 'feedback:form' %}">
        {% csrf_token %}
        {{ feedback_form.as_p }}
        <button class="btn btn-outline-secondary" type="submit">{% trans "Отправить" %}</button>
    </form>
</div>
{% endblock %}